util/service/src/test/resources/schema.dtd

<!ELEMENT dataset (
    REVINFO*,
    api_audit*,
    author*,
    author_AUD*,
    author_url*,
    bookmark*,
    change_password*,
    contribution*,
    contribution_AUD*,
    episode*,
    episode_AUD*,
    listener_stat*,
    mix*,
    mix_AUD*,
    radioshow*,
    radioshow_AUD*,
    role*,
    scheduling*,
    scheduling_AUD*,
    schema_version*,
    show_url*,
    tag*,
    tag_textcontent*,
    textcontent*,
    textcontent_AUD*,
    url*,
    user*)>

<!ELEMENT REVINFO EMPTY>
<!ATTLIST REVINFO
    REV CDATA #REQUIRED
    REVTSTMP CDATA #IMPLIED
>

<!ELEMENT api_audit EMPTY>
<!ATTLIST api_audit
    id CDATA #REQUIRED
    user CDATA #REQUIRED
    url CDATA #REQUIRED
    postParams CDATA #REQUIRED
    callDate CDATA #REQUIRED
    method CDATA #REQUIRED
>

<!ELEMENT author EMPTY>
<!ATTLIST author
    id CDATA #REQUIRED
    user_id CDATA #IMPLIED
    name CDATA #REQUIRED
    alias CDATA #IMPLIED
    photo CDATA #REQUIRED
    avatar CDATA #REQUIRED
    introduction CDATA #REQUIRED
    email CDATA #IMPLIED
>

<!ELEMENT author_AUD EMPTY>
<!ATTLIST author_AUD
    id CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    alias CDATA #IMPLIED
    avatar CDATA #IMPLIED
    email CDATA #IMPLIED
    introduction CDATA #IMPLIED
    name CDATA #IMPLIED
    photo CDATA #IMPLIED
>

<!ELEMENT author_url EMPTY>
<!ATTLIST author_url
    author_id CDATA #REQUIRED
    url_id CDATA #REQUIRED
>

<!ELEMENT bookmark EMPTY>
<!ATTLIST bookmark
    id CDATA #REQUIRED
    radioshow_id CDATA #IMPLIED
    episode_id CDATA #IMPLIED
    user_id CDATA #IMPLIED
    modified CDATA #REQUIRED
    title CDATA #REQUIRED
    content CDATA #REQUIRED
    start CDATA #REQUIRED
    end CDATA #REQUIRED
    karma CDATA #IMPLIED
    full_episode CDATA #REQUIRED
    selected CDATA #REQUIRED
>

<!ELEMENT change_password EMPTY>
<!ATTLIST change_password
    id CDATA #REQUIRED
    user_id CDATA #IMPLIED
    token CDATA #REQUIRED
    created CDATA #REQUIRED
>

<!ELEMENT contribution EMPTY>
<!ATTLIST contribution
    id CDATA #REQUIRED
    radioshow_id CDATA #IMPLIED
    author_id CDATA #IMPLIED
    nick CDATA #REQUIRED
>

<!ELEMENT contribution_AUD EMPTY>
<!ATTLIST contribution_AUD
    id CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    nick CDATA #IMPLIED
    author_id CDATA #IMPLIED
    radioshow_id CDATA #IMPLIED
>

<!ELEMENT episode EMPTY>
<!ATTLIST episode
    id CDATA #REQUIRED
    radioshow_id CDATA #IMPLIED
    textcontent_id CDATA #IMPLIED
    plannedFrom CDATA #REQUIRED
    plannedTo CDATA #REQUIRED
    realFrom CDATA #REQUIRED
    realTo CDATA #REQUIRED
>

<!ELEMENT episode_AUD EMPTY>
<!ATTLIST episode_AUD
    id CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    plannedFrom CDATA #IMPLIED
    plannedTo CDATA #IMPLIED
    realFrom CDATA #IMPLIED
    realTo CDATA #IMPLIED
    radioshow_id CDATA #IMPLIED
    textcontent_id CDATA #IMPLIED
>

<!ELEMENT listener_stat EMPTY>
<!ATTLIST listener_stat
    id CDATA #REQUIRED
    type CDATA #REQUIRED
    count CDATA #IMPLIED
    date CDATA #REQUIRED
>

<!ELEMENT mix EMPTY>
<!ATTLIST mix
    id CDATA #REQUIRED
    show_id CDATA #IMPLIED
    author CDATA #REQUIRED
    title CDATA #REQUIRED
    file CDATA #REQUIRED
    date CDATA #IMPLIED
    type CDATA #REQUIRED
    category CDATA #REQUIRED
    content CDATA #IMPLIED
>

<!ELEMENT mix_AUD EMPTY>
<!ATTLIST mix_AUD
    id CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    author CDATA #IMPLIED
    category CDATA #IMPLIED
    content CDATA #IMPLIED
    date CDATA #IMPLIED
    file CDATA #IMPLIED
    title CDATA #IMPLIED
    type CDATA #IMPLIED
    show_id CDATA #IMPLIED
>

<!ELEMENT radioshow EMPTY>
<!ATTLIST radioshow
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    definition CDATA #IMPLIED
    alias CDATA #IMPLIED
    banner CDATA #IMPLIED
    description CDATA #IMPLIED
    type CDATA #REQUIRED
    status CDATA #REQUIRED
>

<!ELEMENT radioshow_AUD EMPTY>
<!ATTLIST radioshow_AUD
    id CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    alias CDATA #IMPLIED
    definition CDATA #IMPLIED
    description CDATA #IMPLIED
    name CDATA #IMPLIED
    status CDATA #IMPLIED
    type CDATA #IMPLIED
>

<!ELEMENT role EMPTY>
<!ATTLIST role
    id CDATA #REQUIRED
    parent_role_id CDATA #IMPLIED
    name CDATA #REQUIRED
>

<!ELEMENT scheduling EMPTY>
<!ATTLIST scheduling
    id CDATA #REQUIRED
    radioshow_id CDATA #IMPLIED
    weekType CDATA #REQUIRED
    base CDATA #REQUIRED
    weekDay CDATA #REQUIRED
    hourFrom CDATA #REQUIRED
    minFrom CDATA #REQUIRED
    duration CDATA #REQUIRED
    validFrom CDATA #REQUIRED
    validTo CDATA #REQUIRED
>

<!ELEMENT scheduling_AUD EMPTY>
<!ATTLIST scheduling_AUD
    id CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    base CDATA #IMPLIED
    duration CDATA #IMPLIED
    hourFrom CDATA #IMPLIED
    minFrom CDATA #IMPLIED
    validFrom CDATA #IMPLIED
    validTo CDATA #IMPLIED
    weekDay CDATA #IMPLIED
    weekType CDATA #IMPLIED
    radioshow_id CDATA #IMPLIED
>

<!ELEMENT schema_version EMPTY>
<!ATTLIST schema_version
    version_rank CDATA #REQUIRED
    installed_rank CDATA #REQUIRED
    version CDATA #REQUIRED
    description CDATA #REQUIRED
    type CDATA #REQUIRED
    script CDATA #REQUIRED
    checksum CDATA #IMPLIED
    installed_by CDATA #REQUIRED
    installed_on CDATA #IMPLIED
    execution_time CDATA #REQUIRED
    success CDATA #REQUIRED
>

<!ELEMENT show_url EMPTY>
<!ATTLIST show_url
    radioshow_id CDATA #REQUIRED
    url_id CDATA #REQUIRED
>

<!ELEMENT tag EMPTY>
<!ATTLIST tag
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    type CDATA #REQUIRED
>

<!ELEMENT tag_textcontent EMPTY>
<!ATTLIST tag_textcontent
    textcontent_id CDATA #REQUIRED
    tag_id CDATA #REQUIRED
>

<!ELEMENT textcontent EMPTY>
<!ATTLIST textcontent
    id CDATA #REQUIRED
    title CDATA #REQUIRED
    type CDATA #REQUIRED
    format CDATA #REQUIRED
    content CDATA #REQUIRED
    created CDATA #REQUIRED
    modified CDATA #REQUIRED
    author CDATA #REQUIRED
    alias CDATA #REQUIRED
>

<!ELEMENT textcontent_AUD EMPTY>
<!ATTLIST textcontent_AUD
    id CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    alias CDATA #IMPLIED
    content CDATA #IMPLIED
    format CDATA #IMPLIED
    title CDATA #IMPLIED
    type CDATA #IMPLIED
>

<!ELEMENT url EMPTY>
<!ATTLIST url
    id CDATA #REQUIRED
    url CDATA #REQUIRED
    type CDATA #IMPLIED
>

<!ELEMENT user EMPTY>
<!ATTLIST user
    id CDATA #REQUIRED
    role_id CDATA #IMPLIED
    username CDATA #REQUIRED
    password CDATA #IMPLIED
    email CDATA #REQUIRED
    salt CDATA #IMPLIED
>

