util/service/src/test/resources/schema.dtd

<!ELEMENT dataset (
    api_audit*,
    author*,
    author_url*,
    bookmark*,
    change_password*,
    comment*,
    contribution*,
    episode*,
    listener_stat*,
    mix*,
    radioshow*,
    role*,
    scheduling*,
    schema_version*,
    show_url*,
    tag*,
    tag_textcontent*,
    textcontent*,
    url*,
    user*)>

<!ELEMENT api_audit EMPTY>
<!ATTLIST api_audit
    id CDATA #REQUIRED
    user CDATA #REQUIRED
    url CDATA #REQUIRED
    postParams CDATA #REQUIRED
    callDate CDATA #REQUIRED
    method CDATA #REQUIRED
>

<!ELEMENT author EMPTY>
<!ATTLIST author
    id CDATA #REQUIRED
    user_id CDATA #IMPLIED
    name CDATA #REQUIRED
    alias CDATA #IMPLIED
    photo CDATA #REQUIRED
    avatar CDATA #REQUIRED
    introduction CDATA #REQUIRED
    email CDATA #IMPLIED
>

<!ELEMENT author_url EMPTY>
<!ATTLIST author_url
    author_id CDATA #REQUIRED
    url_id CDATA #REQUIRED
>

<!ELEMENT bookmark EMPTY>
<!ATTLIST bookmark
    id CDATA #REQUIRED
    radioshow_id CDATA #IMPLIED
    episode_id CDATA #IMPLIED
    user_id CDATA #IMPLIED
    start CDATA #REQUIRED
    end CDATA #REQUIRED
    title CDATA #REQUIRED
    content CDATA #IMPLIED
    full_episode CDATA #REQUIRED
    karma CDATA #IMPLIED
    selected CDATA #REQUIRED
>

<!ELEMENT change_password EMPTY>
<!ATTLIST change_password
    id CDATA #REQUIRED
    user_id CDATA #IMPLIED
    token CDATA #REQUIRED
    created CDATA #REQUIRED
>

<!ELEMENT comment EMPTY>
<!ATTLIST comment
    id CDATA #REQUIRED
    comment CDATA #REQUIRED
    created CDATA #IMPLIED
    moment CDATA #IMPLIED
    type CDATA #REQUIRED
    identifier CDATA #REQUIRED
    status CDATA #REQUIRED
    author_id CDATA #REQUIRED
    parent_id CDATA #IMPLIED
>

<!ELEMENT contribution EMPTY>
<!ATTLIST contribution
    id CDATA #REQUIRED
    radioshow_id CDATA #REQUIRED
    author_id CDATA #REQUIRED
    nick CDATA #REQUIRED
>

<!ELEMENT episode EMPTY>
<!ATTLIST episode
    id CDATA #REQUIRED
    radioshow_id CDATA #IMPLIED
    textcontent_id CDATA #IMPLIED
    plannedFrom CDATA #REQUIRED
    plannedTo CDATA #REQUIRED
    realFrom CDATA #REQUIRED
    realTo CDATA #REQUIRED
>

<!ELEMENT listener_stat EMPTY>
<!ATTLIST listener_stat
    id CDATA #REQUIRED
    type CDATA #REQUIRED
    count CDATA #IMPLIED
    date CDATA #REQUIRED
>

<!ELEMENT mix EMPTY>
<!ATTLIST mix
    id CDATA #REQUIRED
    show_id CDATA #IMPLIED
    author CDATA #REQUIRED
    title CDATA #REQUIRED
    file CDATA #REQUIRED
    date CDATA #IMPLIED
    type CDATA #REQUIRED
    category CDATA #REQUIRED
    content CDATA #IMPLIED
>

<!ELEMENT radioshow EMPTY>
<!ATTLIST radioshow
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    definition CDATA #IMPLIED
    alias CDATA #IMPLIED
    banner CDATA #IMPLIED
    description CDATA #IMPLIED
    type CDATA #REQUIRED
    status CDATA #REQUIRED
>

<!ELEMENT role EMPTY>
<!ATTLIST role
    id CDATA #REQUIRED
    parent_role_id CDATA #IMPLIED
    name CDATA #REQUIRED
>

<!ELEMENT scheduling EMPTY>
<!ATTLIST scheduling
    id CDATA #REQUIRED
    radioshow_id CDATA #IMPLIED
    weekType CDATA #REQUIRED
    base CDATA #REQUIRED
    weekDay CDATA #REQUIRED
    hourFrom CDATA #REQUIRED
    minFrom CDATA #REQUIRED
    duration CDATA #REQUIRED
    validFrom CDATA #REQUIRED
    validTo CDATA #REQUIRED
>

<!ELEMENT schema_version EMPTY>
<!ATTLIST schema_version
    version_rank CDATA #REQUIRED
    installed_rank CDATA #REQUIRED
    version CDATA #REQUIRED
    description CDATA #REQUIRED
    type CDATA #REQUIRED
    script CDATA #REQUIRED
    checksum CDATA #IMPLIED
    installed_by CDATA #REQUIRED
    installed_on CDATA #IMPLIED
    execution_time CDATA #REQUIRED
    success CDATA #REQUIRED
>

<!ELEMENT show_url EMPTY>
<!ATTLIST show_url
    radioshow_id CDATA #REQUIRED
    url_id CDATA #REQUIRED
>

<!ELEMENT tag EMPTY>
<!ATTLIST tag
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    type CDATA #REQUIRED
>

<!ELEMENT tag_textcontent EMPTY>
<!ATTLIST tag_textcontent
    textcontent_id CDATA #REQUIRED
    tag_id CDATA #REQUIRED
>

<!ELEMENT textcontent EMPTY>
<!ATTLIST textcontent
    id CDATA #REQUIRED
    title CDATA #REQUIRED
    type CDATA #REQUIRED
    format CDATA #REQUIRED
    content CDATA #IMPLIED
    created CDATA #IMPLIED
    modified CDATA #IMPLIED
    author CDATA #IMPLIED
    alias CDATA #IMPLIED
>

<!ELEMENT url EMPTY>
<!ATTLIST url
    id CDATA #REQUIRED
    url CDATA #REQUIRED
    type CDATA #IMPLIED
>

<!ELEMENT user EMPTY>
<!ATTLIST user
    id CDATA #REQUIRED
    role_id CDATA #IMPLIED
    username CDATA #REQUIRED
    password CDATA #IMPLIED
    email CDATA #REQUIRED
    salt CDATA #IMPLIED
    role CDATA #IMPLIED
>

